[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymediawiki = "*"
wikitextparser = "*"
appdirs = "*"
icalendar = "*"
flask = "*"
pytz = "*"

[dev-packages]
requests = "*"

[requires]
