<html>
<head>
    <title>On This Day</title>
</head>
<body>
<h1>On This Day</h1>
Generate iCalendar files with random historical facts about each day (notable births, deaths, events and holidays).
<h2>Configure</h2>
<form action="submit">
    <p>
        <label for="birth">Number of births to display:</label>
        <input type="number" id="birth" name="count" min="1" max="5" value="1"><br />
        <label for="death">Number of deaths to display:</label>
        <input type="number" id="death" name="count" min="1" max="5" value="1"><br />
        <label for="event">Number of events to display:</label>
        <input type="number" id="event" name="count" min="1" max="5" value="1"><br />
        <label for="holiday">Number of holidays to display:</label>
        <input type="number" id="holiday" name="count" min="1" max="5" value="1"><br />
    </p>
    <p>
        <label for="hours">Time of daily events (hour):</label>
        <input type="number" id="hours" name="count" min="0" max="23" value="9"><br />
        <label for="minutes">Time of daily events (minutes):</label>
        <input type="number" id="minutes" name="count" min="0" max="59" value="0"><br />
    </p>
    <input type="submit" value="Submit">

</form>

</body>
</html>